@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 22DPM</h1>
    <img src="https://www.startpage.com/av/proxy-image?piurl=http%3A%2F%2F3.bp.blogspot.com%2F-YICv9cHzWGE%2FToLICvEMX9I%2FAAAAAAAAAkM%2FWaBnRSTinvY%2Fs400%2Fnike-just-do-it-300x300.jpg&sp=1728978915Te8bc335a1bc8a97291271cea84a72ab9ee2ad08ef029ab7eba511bdba749b9df">
    <!-- <h1 class="display-4" style="background-color:rgb(248, 106, 106)">Let's do it</h1> -->
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
